/*cssreference.io Para propiedades*/
.titulo{ /*Estilizando h1 */
    color: hotpink; /* htmlcolorcodes.com*/
    width: 290px; /*ancho*/
    height: 50px; /*alto*/
    background-color: teal; /*color de fondo*/
}

#Seleccionar-mascota {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tarjeta-de-mokepon{
    width: 100px;
    height: 100px;
    background: aquamarine;
    padding: 10px;/*borde interno*/
    box-sizing: border-box; /*se adapta al tamaño de la caja*/
    margin: 10px; /*borde externo*/
    border: 1px solid hotpink; /*propiedades de borde*/
}

input {
    display: none;
}