/*cssreference.io Para propiedades*/
.titulo{ /*Estilizando h1 */
    color: hotpink; /* htmlcolorcodes.com*/
    width: 290px; /*ancho*/
    height: 50px; /*alto*/
    background-color: teal; /*color de fondo*/
}

label {
    background-color: tomato;
    width: 290px;
    height: 50px;
   
}

input {
    background-color: aqua;
    width: 290px;
    height: 50px;
   
}

button {
    background-color: violet;
    width: 290px;
    height: 50px;
    
}