/*cssreference.io Para propiedades*/
/*colores https://colorhunt.co/*/
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

html, body {
  height:100%; /*Se ocupa en 100 de alto*/
  margin:0;
  display: flex;
  flex-direction: column; /*si se agrega otro queda en columna*/
  font-family: 'Fredoka One', cursive; /*tipo de letra*/
  background-image: linear-gradient(45deg, rgb(140, 52, 199), rgb(255, 0, 106));
}

#Seleccionar-mascota {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.titulo {
  color: white;
  font-size: 32px;
  font-family: 'Fredoka One', cursive;
}
  
.subtitulo {
  color: white;
  font-size: 20px;
  font-family: monospace;
}

.tarjetas, .tarjetas-ataques {
  display: flex;
  gap: 10px;
}

.tarjeta-de-mokepon{
  width: 200px;
  height: 100px;
  cursor:pointer;
  background-image: linear-gradient(45deg,#ff8a53,#f3ff49);
  border: 2px solid white;
  padding: 10px;/*borde interno*/
  box-sizing: border-box; /*se adapta al tamaño de la caja*/
  border-radius: 20px; /*borde externo*/
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-family: cursive;
  font-size: 16px;
}

.tarjeta-de-mokepon img {
  width: 80px;
}

.tarjeta-de-mokepon:hover { /*interaccion de boton*/
  background-image: linear-gradient(45deg,white, #00ffaa);
  border: 2px solid goldenrod;
  color: black;
}

#boton-mascota {
  width: 180px;
  height: 40px;
  cursor:pointer;
  border-radius: 20px;
  background: transparent;
  border: 2px solid white;
  color: white;
  font-family: monospace;
  margin-top: 30px;
}

#boton-mascota:hover {
  background-image: repeating-linear-gradient(46deg,white,#00ffaa);
  border: 2px solid goldenrod;
  color: black;
}

input {
  display: none;
}

input:checked + label {
  background-image: linear-gradient(45deg,white,#00ffaa);
  border: 2px solid goldenrod;
}

#Seleccionar-ataque {
  display: flex;
  flex-direction: column;
  align-items: center;
}
  
.boton-de-ataque {
  background-image: linear-gradient(45deg,#ff8a53,#f3ff49);
  padding: 10px;
  box-sizing: border-box;
  border-radius: 10px;
  border: 2px solid white;
  width: 80px;
  color: black;
  font-family: cursive;
  cursor:pointer;
}
 /*Efecto de interacción*/
#boton-fuego.boton-de-ataque:hover {
  background-image: linear-gradient(red,orange);
  border: 2px solid black;
  color: white;
}

#boton-agua.boton-de-ataque:hover {
  background-image: linear-gradient(aqua,blue);
  border: 2px solid black;
  color: white;
}

#boton-tierra.boton-de-ataque:hover {
  background-image: linear-gradient( rgb(87, 42, 22),rgb(192, 96, 32));
  border: 2px solid black;
  color: white;
}

#mensajes {
  width: 280px;
  background: #EEEEEE;
  border: 2px solid goldenrod;
  padding: 20px;
  margin-top: 20px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: monospace;
}

#boton-reiniciar {
  border: none;
  color: #11468F;
  font-family: 'Poppins', sans-serif;
  cursor:pointer;
}

.ataques {
  display: grid;
  grid-template-columns: 100px 100px;
  color: white;
}

#vidas-jugador, #vidas-enemigo {
  font-size: 32px;
  margin-bottom: 0;
}

.ataques-jugador, .ataques-enemigo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#ver-mapa {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#ver-mapa button {
  width: 80px;
  height: 40px;
  border-radius: 20px;
  background: transparent;
  border: 2px solid white;
  color: white;
  font-family: 'Poppins', sans-serif;
  margin: 10px 0;
}

#ver-mapa button:hover{
  cursor: pointer;
  background-image: linear-gradient(45deg,white, #00ffaa);
  border: 2px solid goldenrod;
  color: black;
}

@media (max-width: 560px) { /*Adaptación para cualquier pantalla*/
  .tarjetas, .tarjetas-ataques {
    flex-direction: column;
  }
}

@media (max-width: 300px) {
  #ver-mapa div {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
} 